.calculator {
  width: 210px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  margin-left: 100px;
  margin-top: 140px;
  transition: 0.5s ease;
}

.display {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  overflow: hidden;
  min-height: 60px;
}


.calculator-buttons td {
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}


.calculator-buttons td:hover {
  background-color: #343a40;
}
.calculator-history{
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 397px;
  margin-top: 133px;
}
.operator-btn:hover{
background-color:black !important;
}
