.calculator {
  width: 218px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  margin-left: 100px;
  margin-top: 140px;
}

.display {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  overflow: hidden;
  min-height: 60px;
}


.calculator-buttons td {
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}


td:hover {
  background-color: #343a40;
}
.calculator-history{
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 450px;
  margin-top: 100px;
}

